<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.EmployeeMapper">
    <resultMap id="employeeResultMap" type="com.ohgiraffers.EmployeeDTO">
        <id property="id" column="EMP_ID"/>
        <result property="name" column="EMP_NAME"/>
        <result property="no" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="salLevel" column="SAL_LEVEL"/>
    </resultMap>

    <select id="selectAllEmployee" resultMap="employeeResultMap">
        SELECT
            EMP_ID,
            EMP_NAME,
            EMP_NO,
            EMAIL,
            PHONE,
            JOB_CODE,
            SAL_LEVEL
        FROM EMPLOYEE
        ORDER BY EMP_ID
    </select>

    <select id="selectEmployeeById" parameterType="_int" resultMap="employeeResultMap">
        SELECT
            EMP_ID,
            EMP_NAME,
            EMP_NO,
            EMAIL,
            PHONE,
            JOB_CODE,
            SAL_LEVEL
        FROM EMPLOYEE
        WHERE EMP_ID = #{ id }
    </select>

    <select id="findLastId" resultType="_int">
        SELECT
            MAX(EMP_ID)
        FROM EMPLOYEE
    </select>

    <insert id="registEmployee" parameterType="com.ohgiraffers.EmployeeDTO">
        INSERT INTO EMPLOYEE (
            EMP_ID,
            EMP_NAME,
            EMP_NO,
            EMAIL,
            PHONE,
            JOB_CODE,
            SAL_LEVEL
        )
        VALUES (
            #{ id },
            #{ name },
            #{ no },
            #{ email },
            #{ phone },
            #{ jobCode },
            #{ salLevel }
        )
    </insert>

    <update id="modifyEmployee" parameterType="com.ohgiraffers.EmployeeDTO">
        UPDATE EMPLOYEE
        <set>
            <if test="name != null and name !=''">
                EMP_NAME = #{ name }
            </if>
            <if test="no != null and no !=''">
                , EMP_NO = #{ no }
            </if>
            <if test="email != null and email !=''">
                , EMAIL = #{ email }
            </if>
            <if test="phone != null and phone !=''">
                , PHONE = #{ phone }
            </if>
            <if test="jobCode != null and jobCode != ''">
                , JOB_CODE = #{ jobCode }
            </if>
            <if test="salLevel != null and salLevel != ''">
                , SAL_LEVEL = #{ salLevel }
            </if>
        WHERE EMP_ID = #{ id }
        </set>
    </update>

    <delete id="deleteEmployee" parameterType="_int">
        DELETE FROM EMPLOYEE
        WHERE EMP_ID = #{ id }
    </delete>
</mapper>